@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{padding: 0; 
 margin: 0; 
 box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.header  {
  background-color: #1f2937;
}

#header-logo {
  color: #f9f1f8;
  font-size: 24px;
}

.nav-link {
  list-style: none;
  color: #e5e7eb;
  font-size: 18px;
  cursor: pointer;
}

ul {
    display: flex;
    flex-direction: row; 
    gap: 20px;
}

.navbar-left, .navbar-right {
    display: flex;
    width: 50%;
    justify-content: center;
}