@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{padding: 0; 
 margin: 0; 
 box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.header  {
  background-color: #1f2937;
}

#header-logo {
  color: #f9f1f8;
  font-size: 24px;
}

.nav-link {
  list-style: none;
  color: #e5e7eb;
  font-size: 18px;
  cursor: pointer;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    gap: 20px;
}

.navbar {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.cta-button {
  background-color: #3883f6;
  color: #ffffff;
  padding: 8px 12px;
  margin: 10px 0;
  border: 2px solid #3883f6;
  border-radius: 4px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
/* #f3f4f6; */

.second-section {
  background-color: #ffffff;
  padding: 40px;
}

h2 {
  color: #1f2937;
  font-weight: bolder;
  font-size: 36px;
  text-align: center;
}

.second-section {
  
}

.row-of-blue-divs {
  display: flex;
  justify-content: center; 
  align-items: center;
  max-width: 100%; 
  margin: 0 auto; 
  
  gap: 20px;
  margin-top: 20px;
}

.blue-div {
  border: 2px solid #3883f6;
  width: 200px;
  height: 200px;
  border-radius: 8px;
  text-align: center;
}

.quote-section {
  background-color: #e5e7eb;
  color: #1F2937;
  padding: 40px;
  text-align: center;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}

.call-to-action-section {
  background-color: white;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue {
  background-color: #3883f6;
  width: 60%;
  height: 40%;
  display: flex;
  flex-direction: row;
}

.left {
  width: 80%;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h4 {
  color: white;
  font-size: 28px;
  font-weight: 600;
}

.right {
  width: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
} 

.cta-button1 {
   background-color: #3883f6;
  color: #ffffff;
  padding: 8px 12px;
  margin: 10px 0;
  border: 2px solid white;
  border-radius: 4px
}

.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  text-align: center;
  padding: 20px;
  font-size: 16px;
}